/* BODY DIVISION */

body{

    width: 100%;
    height: 120vh;
}

/* -------------------------------------------------------------------------------------------------- */


/* HEADER DIVISION */

.navbar-toggler{

    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{

    box-shadow: none;
    outline: none;
}
.ohmstechLogoName{

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

    color: #019eff;
}
.navbar-nav .nav-item > .nav-link{

    color: #666777;
    position: relative;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    text-decoration: none;
    cursor: pointer
}

@media (min-width: 992px)

{
    .navbar-nav .nav-item > .nav-link::before{

        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #019eff;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .navbar-nav .nav-item > .nav-link:hover::before, .navbar-nav .nav-item > .nav-link.active::before{

        width: 80%;
        visibility: visible;
    }
    .nav-item > .nav-link:hover, .nav-link:active{

        color: #000;
    }
}
/* ------------------------------------------------------------------------------------- */


/* CAROUSEL */

.carouselContainer{

    margin-top: 120px;

    background-color: #019eff;
}
/* --------------------------------------------------------------------------------------- */

/*   OUR BRAND */

.ourBrands{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.ourBrandContainer{

    background-color: #019eff;
}

@media (min-width: 576px){

    .brandFrame{

    border-radius: 25px;

    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    }
}

/* --------------------------------------------------------------------------------------- */

/* GET IN TOUCH */

.getInTouch{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
}
.btnContact{

    border: none;
    outline: none;

    background-color: #c6324c;

    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.3rem;

    border-radius: 50px;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.btnContact:hover{

    transform: scale(1.1);
}


/* ----------------- */

/*   FOOTER DESIGN    */

footer{

    margin-top: 150px;
}

.companySlogan{

    color: #019eff;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    width: 300px;
}
.address{

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.addressDetails{

    font-family: "Poppins", sans-serif;
    font-weight: light;
    font-style: normal;
}
.email{

    font-family: "Poppins", sans-serif;
    font-weight: light;
    font-style: normal;
}
.emailDetails{

    font-family: "Poppins", sans-serif;
    font-weight: light;
    font-style: normal;
}
.mobile{

    font-family: "Poppins", sans-serif;
    font-weight: light;
    font-style: normal;
}
.mobileDetails{

    font-family: "Poppins", sans-serif;
    font-weight: light;
    font-style: normal;
}
.landline{

    font-family: "Poppins", sans-serif;
    font-weight: light;
    font-style: normal;
}
.landlineDetails{

    font-family: "Poppins", sans-serif;
    font-weight: light;
    font-style: normal;
}
.copyRight{

    font-family: "Poppins", sans-serif;
    font-weight: light;
    font-style: normal;
}
.instagram{

    color: orangered;
}

/* ------------------------------------------------------------------------------------- */




/* About Us Page */

.aboutUsPage{

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;

    border-left: 2px solid red;
    
}
.aboutUsPageContainer{

    margin-top: 120px;
}
.aboutUsDes{

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
}
.aboutUsDesSpan{

    border-bottom: 100px;
}

/* STARTED */

.founded{

    font-family: "Poppins" sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;

    background-color: #019eff;
}
.started{

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: justify;
}
.vission{

    font-family: "Poppins" sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;

    background-color: #019eff;
}
.mission{

    font-family: "Poppins" sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;

    background-color: #019eff;
}
.missionDes{

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
}
.vissionDes{

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
}
.coreValues{

    font-family: "Poppins" sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;

    background-color: #019eff;
}
.safety{

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
}
.safetyDes{

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}
.integrity{

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
}
.integrityDes{

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}
.leadership{

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
}
.leadershipDes{

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}
.knowledgeable{

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
}
.knowledgeableDes{

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

/*-------------------------------*/


/* ------------------------------------------------------------------------------------- */